# Create database using SQLite

In [1]:
import sqlite3

In [2]:
# Connecting to sqlite
# connection object
connections=sqlite3.connect('Instructor.db')

In [4]:
# coursor object

cursor=connections.cursor()

# Create a table in the database

In [5]:
table="""create table IF NOT EXISTS Instructor(ID INTEGER PRIMARY KEY NOT NULL, F_NAME VARCHAR(30),L_NAME VARCHAR(20),
CITY VARCHAR(20), C_CODE VARCHAR(2));"""

cursor.execute(table)

print('table is ready')

table is ready

# Insert data into the table

In [7]:
cursor.execute('''insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')

In [8]:
cursor.execute('''insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

# Retrieve data into Pandas

In [ ]:
import pandas as pd

#retrieve the query results into a pandas dataframe
df=pd.read_sql_query('')